@font-face {
    font-family: 'icomoon';
    src: url('../font/icomoon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: 'icomoon';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    font-size: inherit;
    text-transform: none;
    line-height: 1;
    user-select: none;
    -webkit-font-smoothing: antialiased;
}

.icon-uni53F3:before {
    content: "\53f3";   // 向右
}
.icon-uni5220:before {
    content: "\5220";   // 删除
}
.icon-uni8F66:before {
    content: "\8f66";   // 购物车（空）
}
.icon-uni5355:before {
    content: "\5355";   // 清单
}
.icon-uni5730:before {
    content: "\5730";   // 地址
}
.icon-uni9876:before {
    content: "\9876";   // 回顶部
}
.icon-uni8FD4:before {
    content: "\8fd4";   // 向左
}
.icon-un52FE:before {
    content: "\52fe";   // 打钩
}
.icon-uni8D2D:before {
    content: "\8d2d";   // 购物车（加）
}
.icon-uni673A:before {
    content: "\673a";   // 手机
}
.icon-uni52A0:before {
    content: "\52a0";   // 添加
}
.icon-uni51CF:before {
    content: "\51cf";   // 添加
}
.icon-uni5956:before {
    content: "\5956";   // 奖杯
}
.icon-uni4E0A:before {
    content: "\4e0a";   // 向上
}
.icon-uni65F6:before {
    content: "\65f6";   // 计时
}
.icon-uni9996:before {
    content: "\9996";   // 首页
}
.icon-uni6211:before {
    content: "\6211";   // 个人
}
.icon-uni7269:before {
    content: "\7269";   // 购物车（满）
}
.icon-uni4E0B:before {
    content: "\4e0b";   // 向下
}
.icon-uni9009:before {
    content: "\9009";   // 向下（三角）
}
