// color
$main-color: #f95413;
$user-color: #ff9428;
$sub-color: #23a0ff;
$sec-color: #3ce076;
$bg-color: #eee;
$font-color: #fff;
$border-color: #e2e2e2;
$title-color: #555;
$subtitle-color: #777;
$content-color: #999;
$rewards-color: #fdf2ef;
$disabled-color: #c2c2c2;

$codes-dialog-color1: #333;
$codes-dialog-color2: #666;
