@charset "utf-8";
@import "../base";

.inline-block-components {
    @include box(center, justify);
    height: pxToRem(90);
    padding: 0 pxToRem(25);
    border-bottom: pxToRem(1) solid $line-color;
    font-size: pxToRem(30);
    color: $title-color;
    background: $back-color;
    .list-content {
        width: 76%;
    }
    .right-icon {
        display: -webkit-box;
    }
}
