@charset "utf-8";
@import "base";

.setting-about-view {
    .header-img {
        width: pxToRem(264);
        height: pxToRem(70);
        margin: pxToRem(26) auto;
        @include backgroundImg($about-head-img);
    }
    .header-text {
        width: pxToRem(580);
        text-indent: 2em;
        margin: 0 auto;
        color: #666;
        font-size: pxToRem(26);
        line-height: pxToRem(28);
    }
    .setting-about-title {
        display: -webkit-box;

        .title-img {
            width: pxToRem(110);
            height: pxToRem(110);
        }

        .title-text {
            font-size: pxToRem(26);
            color: #f95413;
            margin-top: pxToRem(10);
        }

        .title-warp {
            margin: pxToRem(26) pxToRem(35) 0 pxToRem(60);
        }
    }
    .pic1 {
        @include backgroundImg($about-title1);
    }

    .pic2 {
        @include backgroundImg($about-title2);
    }

    .pic3 {
        @include backgroundImg($about-title3);
    }
    .down {
        margin-top: pxToRem(34);

        @at-root .down-title {
            position: relative;
            font-size: pxToRem(28);
            color: #666;
            text-align: center;

            &:before {
                content: '';
                position: absolute;
                left: pxToRem(60);
                top: pxToRem(11);
                width: pxToRem(190);
                height: pxToRem(2);
                background: #ddd;
            }

            &:after {
                content: '';
                position: absolute;
                right: pxToRem(60);
                top: pxToRem(11);
                width: pxToRem(190);
                height: pxToRem(2);
                background: #ddd;
            }
        }

        .down-img {
            width: pxToRem(264);
            height: pxToRem(264);
            margin: pxToRem(20) auto pxToRem(34);
            @include backgroundImg($code-img);
        }
    }

    .about {
        text-align: center;
        margin-bottom: pxToRem(40);
        .about-title {
            @extend .down-title;
            margin-bottom: pxToRem(14);
        }

        .about-me {
            font-size: pxToRem(26);
            color: #f95413;
            margin-top: pxToRem(6);
        }
    }
}
