@charset "utf-8";
//背景图片处理
@mixin backgroundImg($value) {
    background: $value no-repeat;
    background-size: 100% auto;
}

//超出多少像素则显示省略号
@mixin omitWord($value) {
    width: $value;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@mixin border-radius($value) {
    -webkit-border-radius: $value;
    border-radius: $value;
}

//盒子布局函数
@mixin box($align: center, $pack: center) {
    $prefix-list: -webkit, -moz;
    @each $prefix in $prefix-list {
        display: #{$prefix}-box;
        #{$prefix}-box-align: $align;
        #{$prefix}-box-pack: $pack;
    }
}

//将px转换成rem
@function pxToRem($n) {
    @if $n == 1 {
        @return 1px;
    } @else {
        @return ($n / 32) + rem;
    }
}

@font-face {
    font-family: 'duobao';
    src: url('//at.alicdn.com/t/font_1469688928_4481144.eot'); /* IE9*/
    src: url('//at.alicdn.com/t/font_1469688928_4481144.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('//at.alicdn.com/t/font_1469688928_4481144.woff') format('woff'), /* chrome、firefox */
    url('//at.alicdn.com/t/font_1469688928_4481144.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('//at.alicdn.com/t/font_1469688928_4481144.svg#iconfont') format('svg'); /* iOS 4.1- */
}

$main-color: #f95413;
$font-color: #999;
$title-color: #333;
$back-color: #fff;
$btn-back-color: #1ba2ff;
$font-text-color: #666;
$body-back-color: #eee;
$body-color: #555;
$line-color: #ddd;
$text-back-color: #f8f8f8;
$progress-color: #ccc;
$red-pack-bg-color: #ea4646;

$help-bg: url(../images/help-bg.png);
$help-header-img: url(../images/help-pic.png);
$add-qq: url(../images/add-qq.png);

$code-img: url(../images/icon.png);
$about-title1: url(../images/about-pic1.png);
$about-title2: url(../images/about-pic2.png);
$about-title3: url(../images/about-pic3.png);
$about-head-img: url(../images/logo.png);

$card-img: url(../images/ecard.png);
$phone-img: url(../images/phone.png);

$query-no: url(../images/no.png);
$query-btn-img: url(../images/server.png);

$query-jd-head-img: url(../images/query-jd.png);

$index-pk-img: url(../images/index_pk.png);
$index-about-img: url(../images/index_about.png);
$index-formula-img: url(../images/index_formula.png);
$index-service-img: url(../images/index_service.png);

$icon-redpack: url(../images/redpack-icon.png);
$icon-money: url(../images/xuyuanbi-icon.png);
$icon-luck: url(../images/luckybea-icon.png);
$icon-qcode-share: url(../images/qcode-share.png);
$icon-wechat: url(../images/wechat-icon.png);
$icon-friend: url(../images/firend-icon.png);
$icon-invited: url(../images/invited-header.png);
$icon-like: url(../images/like-icon.png);
$icon-shop-cart: url(../images/shop-cart-icon.png);

$winnerImg: url(../images/pic_winner.png);
$pk-header-img: url(../images/pic_head_pk.png);
$red-pack-border: url(../images/redpack-boder.png);
