@charset "utf-8";
@import "base";

.client-help-view {
    header {
        width: 100%;
        height: pxToRem(80);
        font-size: pxToRem(28);
        color: $font-text-color;
        background: $back-color;
        margin-bottom: pxToRem(20);

        .top {
            width: 50%;
            height: pxToRem(72);
            line-height: pxToRem(80);
            text-align: center;
            display: inline-block;
        }

        .active {
            color: $main-color;
            border-bottom: pxToRem(8) solid $main-color;
        }
    }
    h2 {
        width: pxToRem(580);
        height: pxToRem(90);
        line-height: pxToRem(90);
        color: $main-color;
        font-size: pxToRem(30);
        font-weight: normal;
        padding: 0 pxToRem(30);
        margin: 0 auto;
        background: $back-color;

        &:after {
            content: '';
            clear: both;
        }
    }
    section {
        border-bottom: pxToRem(1) solid #ddd;
        .text {
            display: none;
            width: pxToRem(580);
            text-indent: 2em;
            padding: pxToRem(20) pxToRem(30) pxToRem(8);
            font-size: pxToRem(26);
            line-height: pxToRem(30);
            color: $font-text-color;
        }
    }
    .pre {
        width: pxToRem(40);
        float: right;
        margin-top: pxToRem(38);
        display: inline-block;
        position: relative;
        overflow: hidden;
        height: pxToRem(20);
        &::before {
            content: '';
            height: pxToRem(20);
            width: pxToRem(20);
            display: block;
            border: 2px solid $main-color;
            border-right-width: 0;
            border-top-width: 0;
            transform: rotate(-45deg);
            position: absolute;
            bottom: pxToRem(7);
            left: pxToRem(7);
        }
    }
    .pre-rotating {
        @extend .pre;
        transform: rotateX(180deg);
    }

    .two {
        display: none;
    }
}
