@charset "utf-8";
@import "base";

.index-header {
    position: fixed;
    top: 0;
    left: 0;
    @include box(center, justify);
    //width: pxToRem(640);
    width: 100%;
    height: pxToRem(80);
    background: $main-color;
    color: $back-color;
    font-size: pxToRem(36);
    z-index: 999;
    font-family: duobao, sans-serif;
    .header-left {
        display: -webkit-box;
        margin-left: pxToRem(20);
        width: pxToRem(50);
        height: pxToRem(30);
    }
    .header-right {
        display: -webkit-box;
        margin-right: pxToRem(20);
        width: pxToRem(50);
        height: pxToRem(30);
    }
}

.banner-img {
    width: pxToRem(640);
}

.controller-list {
    @include box(center, justify);
    width: pxToRem(540);
    height: pxToRem(183);
    padding: 0 pxToRem(50);
    .controller-img {
        width: pxToRem(84);
        height: pxToRem(84);
        margin: 0 auto;
    }
    .controller-title {
        margin-top: pxToRem(12);
        font-size: pxToRem(24);
        text-align: center;
        color: $font-text-color;
    }
    .box {
        display: block;
    }
    .pk-img {
        @include backgroundImg($index-pk-img);
    }
    .about-img {
        @include backgroundImg($index-about-img);
    }
    .formula-img {
        @include backgroundImg($index-formula-img);
    }
    .service-img {
        @include backgroundImg($index-service-img);
    }
}
