@charset "utf-8";
@import "base";

.pay-result-view {
    text-align: center;
    margin-top: pxToRem(360);
    img {
        width: pxToRem(188);
    }
    h3 {
        font-size: pxToRem(36);
        font-weight: normal;
        color: $main-color;
        margin: pxToRem(20) auto pxToRem(10);
    }
    p {
        font-size: pxToRem(28);
        color: $font-color;
    }
}
