@charset "utf-8";
@import "base";

.rules-view {
    header {
        width: pxToRem(640);
        height: pxToRem(524);
        margin: 0 auto;
        @include backgroundImg($rules-header-img);
    }

    .number-a {
        width: pxToRem(640);
        height: pxToRem(702);
        margin: 0 auto;
        @include backgroundImg($rules-A-img);
    }

    .number-b {
        width: pxToRem(640);
        height: pxToRem(108);
        margin: 0 auto;
        padding-top: pxToRem(240);
        @include backgroundImg($rules-B-img);
    }

    footer {
        width: pxToRem(640);
        height: pxToRem(197);
        padding-top: pxToRem(430);
        margin: 0 auto;
        @include backgroundImg($rules-rem-img);
    }

    button {
        display: block;
        border: none;
        width: pxToRem(235);
        height: pxToRem(58);
        margin: 0 auto;
        @include border-radius(pxToRem(5));
        text-decoration: none;
        color: $back-color;
        font-size: pxToRem(24);
        background: #209ef5;
    }
}
