@charset "utf-8";
@import "base";

.setting-server-view {
    color: $font-text-color;
    padding-bottom: pxToRem(60);
    header {
        padding-top: pxToRem(20);
        h2 {
            color: $main-color;
            font-size: pxToRem(32);
        }
        h3 {
            margin-top: pxToRem(-15);
            margin-bottom: pxToRem(30);
            font-size: pxToRem(22);
            font-weight: normal;
        }
        h2, h3 {
            text-align: center;
        }
        .text {
            width: 90%;
            margin: 0 auto;
            line-height: pxToRem(32);
        }
    }
    .strong-under {
        color: $title-color;
        font-weight: bold;
        text-decoration: underline;
    }
    .context {
        width: 90%;
        margin: 0 auto pxToRem(20);
        .server-title {
            color: $main-color;
            font-size: pxToRem(30);
            margin: pxToRem(40) auto pxToRem(5);
        }

        .server-title-text {
            color: $title-color;
            font-size: pxToRem(28);
            margin: pxToRem(20) auto;
        }

        .text-list {
            list-style-type: none;
            line-height: pxToRem(32);
            li {
                margin-top: pxToRem(10);
                margin-left: pxToRem(-50);
            }
        }
    }
    .text {
        margin: pxToRem(20) auto;
        font-size: pxToRem(26);
        line-height: pxToRem(28);
    }
}
