@charset "utf-8";
@import "base";
@import "reset";
@import "header";
@import "detailinfo";
@import "caldetail";
@import "csc";
@import "querytel";
@import "querycard";
@import "index";
@import "footer";
@import "share";
@import "publish";
@import "me";
@import "diglog";
@import "shopcart";
@import "goods_info";
@import "pkview";
@import "toast";
@import "redpack";
@import "moneylist";

body {
    //background: $back-color;
    font-family: duobao;
}

.native-body {
    background: $body-back-color;
}

.duobao-help-back {
    background-image: $help-bg;
    background-size: 100% auto;
}

.right-icon {
    width: pxToRem(32);
    height: pxToRem(32);
    color: $font-color;
}

.redpack-icon, .money-icon, .luck-icon {
    width: pxToRem(50);
    height: pxToRem(50);
}

.redpack-icon {
    @include backgroundImg($icon-redpack);
}

.money-icon {
    @include backgroundImg($icon-money);
}

.luck-icon {
    @include backgroundImg($icon-luck);
}

.me-icon {
    width: pxToRem(41);
    height: pxToRem(41);
    font-size: pxToRem(42);
    color: $font-color;
}

.you-love-icon {
    width: pxToRem(37);
    height: pxToRem(37);
    @include backgroundImg($icon-like);
}
