@charset "utf-8";

@import "reset";
@import "images";
@import "fonts";

@import "components/line_block";
@import "components/header";
@import "components/footer";
@import "components/toast";

@import "detail_info";
@import "cal_detail";
@import "client_server_core";
@import "querytel";
@import "querycard";
@import "index";
@import "share";
@import "publish";
@import "me";
@import "diglog";
@import "shopcart";
@import "goods_info";
@import "pk_view";
@import "red_pack";
@import "money_list";
@import "pay_view";
@import "old_order_list";
@import "setting";
@import "prize_list";
@import "my_info";

body {
    //background: $back-color;
    font-family: duobao;
}

@at-root .console-color {
    color: $btn-back-color !important;
}
@at-root .main-color {
    color: $main-color !important;
}

.native-body {
    background: $body-back-color;
}

.duobao-help-back {
    background-image: $help-bg;
    background-size: 100% auto;
}

.redpack-icon, .money-icon, .luck-icon {
    width: pxToRem(50);
    height: pxToRem(50);
}

.redpack-icon {
    @include backgroundImg($icon-redpack);
}

.money-icon {
    @include backgroundImg($icon-money);
}

.luck-icon {
    @include backgroundImg($icon-luck);
}

.you-love-icon {
    width: pxToRem(37);
    height: pxToRem(37);
    @include backgroundImg($icon-like);
}
